/* ingestion */


#diet-edit-ingestion {
  float:left;
}

#diet-edit-ingestion-meal-details,
#diet-edit-ingestion-meal-details .food-list,
#diet-edit-ingestion-food-cart,
#diet-edit-ingestion-meal-suggestions,
#diet-edit-ingestion-meal-measures,
#diet-edit-ingestion-meal-details .add-food,
#diet-edit-ingestion-left-food-cart {
  /*border: 1px solid #bbb;*/
}


#diet-edit-ingestion-add-meal,
#diet-edit-ingestion-add-user-meal {
  /*width: 460px;*/
}

#diet-edit-ingestion-food-cart,
#diet-edit-ingestion-left-food-cart {
}

#diet-edit-ingestion-meal-details,
#diet-edit-ingestion-food-cart,
#diet-edit-ingestion-left-food-cart {
}

#diet-edit-ingestion-meal-suggestions {
  margin-top:10px;
}

#diet-edit-ingestion-meal-details h4 {
  /*float:left;*/
}


#primary .singlepage #add-meal-button {
  /*
  position: absolute;
  right:10px;
  top:2em;
  */
  text-align:center;
  margin-bottom: 10px;
  
}

#primary .singlepage #add-meal-button.edit-meal {
  text-align:center;
  margin-bottom: 10px;
}

#diet-edit-ingestion-meal-details .meal-image {
  /*position: absolute;
  right:10px;
  top:5em;*/
  float:right;
  margin-top:10px;
}

#primary .singlepage #edit-meal-button,
#primary .singlepage #edit-meal-button-2,
#primary .singlepage #add-food-button,
#primary .singlepage #change-meal-weight-button,
#primary .singlepage #diet-edit-meal-create {
  /*position: absolute;
  right:10px;
  top:19em;*/
  padding-top:8px;
  padding-bottom: 8px;
  text-align:center;
  
}

#primary .singlepage #add-meal-button a,
#primary .singlepage #edit-meal-button-2 a,
#primary .singlepage #diet-edit-ingestion-meal-measures .measure-image .form-item a {
  border: 3px double #ccc;
  background: #005a8c;
  color: #fff;
  padding:5px;
  text-decoration:none;
}

#primary .singlepage #add-food-button a,
#primary .singlepage #change-meal-weight-button a,
#primary .singlepage #diet-edit-meal-create a,
#primary .singlepage #diet-edit-ingestion-meal-measures a {
  background: #009933;
  border: 3px double #ccc;
  color: #fff;
  padding:5px;
  text-decoration:none;
  display: block;
}


#primary .singlepage #edit-meal-button a,
form#diet-ui-meal-food-weight-form #add-weight-link {
  border: 3px double #ccc;
  background: #cc3300;
  color: #fff;
  padding:5px;
  text-decoration:none;
  /*display: block;*/
}

#diet-edit-ingestion-meal-details .meal-image img {
  margin:0;
  float:right;
}

#diet-edit-ingestion-meal-details .meal-body {
  float:left;
  width:250px;
  margin-bottom:10px;
}

#diet-edit-ingestion-meal-details .food-list,
#diet-edit-ingestion-meal-details .add-food {
  clear: both;
  padding:10px;
  margin-bottom:10px;
}



#primary .node .content .meal_admin_links a,
#primary .node .content .food_admin_links a,
#primary .node .content .ingestion_admin_links a {
  border: 3px double #ccc;
  background: #005a8c;
  color: #fff;
  padding:5px;
  text-decoration:none;
}

.red {
  color:red;
}


#meal-title-edit .form-item {
display:inline;
}

input.inline {
  margin: 0;
  padding: 0;
}

#diet-edit-ingestion-meal-details .messages {
  margin-bottom:10px;

}

#diet-edit-ingestion-meal-measures {
  background:#FFD285;
}

#diet-edit-ingestion-meal-measures input#edit-fname {
  width:200px;
}

#diet-edit-ingestion-meal-measures .measure-image {
  border:1px solid #005A8C;
  margin:5px;
  padding:5px;
}

#diet-edit-ingestion-add-forms, 
#diet-edit-ingestion-add-user-meal-form {
  background:#C6D5F0;
}

.diet-edit-ingestion-type {
  padding: 10px;
  background:#C6D5F0;
}

.aslink {
  color:#005A8C;
  text-decoration:none;
}


table.food-cart-small {
  width:200px;
}

table.food-cart-small-wide {
  width:350px;
}



table.food-cart-small tr td {
  padding:1px;
}

table.food-cart-small-wide tr td {
  padding:0 1px 0 1px;
  line-height:1.6em;
}

div.negative-food-unit-bar {
 /* width: 150px;*/
}
div.negative-food-unit-bar-small {
  float:left;
  width:30%;
}

div.negative-food-unit-bar div.negative-food-unit,
div.negative-food-unit-bar-small div.negative-food-unit,
div.negative-food-unit-bar-small-wide div.negative-food-unit {
  float:right;
  width:10%;
  margin-left:2px;
}

div.food-unit-bar {
 /* width: 250px; */
}

div.food-unit-bar-small {
  float:left;
  width:70%;
}

div.food-unit-wrapper {
  float:left;
  width:100%;
}

div.food-unit-wrapper div {
  /*height: 10px;*/
  line-height:1em;
}

div.food-unit-term {
  line-height:1.5em;
}

div.food-unit-bar div,
div.negative-food-unit-bar div {
  height: 20px;
}

div.food-unit-bar-small div,
div.negative-food-unit-bar-small div,
div.food-unit-bar-small-wide div,
div.negative-food-unit-bar-small-wide div {
  height: 10px;
}

div.food-unit-bar div.positive-food-unit,
div.food-unit-bar-small div.positive-food-unit,
div.food-unit-bar-small-wide div.positive-food-unit {
  float:left;
  width:5%;
  
  margin:0 2px 2px 0;
}

td.negative-food-unit {
  width:25%;
}

td.positive-food-unit {
  width:50%;
}

td.food-type {
  width:25%;
  white-space:nowrap;
}

thead th, th {
 padding-right:0; 
}

form#diet-ui-weight-change .form-item {
  display: inline;
}

#diet-ui-weight-change-table tr.odd,
#diet-ui-weight-change-table tr.even {
  background-color:#fff;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
}

#primary #diet-ui-weight-change-table img {
  margin:0;
  padding:0;
}

#primary #diet-ui-weight-change-table a {

}

#floating-top {
/*clear:right;*/
/*float:right;*/
/*width:253px;*/
/*height:10px;*/
/*border:1px solid #ccc;*/
line-height:0;
height:0px;
}


#diet-edit-ingestion-add-forms,
#diet-edit-ingestion-add-user-meal-form,
#diet-edit-ingestion-meals {
  margin-bottom:10px;
}

#diet-ui-left-left-col {
  margin-top:10px;
}

#diet-ui-left-right-col {
  margin-top:10px;
  
}


#diet-ui-right-col {
}

div.inside {
  padding:10px;
}

#diet-edit-ingestion-add-meal,
#diet-edit-ingestion-add-user-meal {
  float:left;
  width:50%;
}

.border-1 {
  border:1px solid #BBBBBB;
}

.float-left {
  float:left;
  width:100%;
}

#diet-edit-meal-create {
  clear: both;
}

#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: auto;
  z-index: 100;
  max-height: 150px;
  _height: 150px;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


#edit-add-meal {
  
}

#edit-meal-wrapper {
  float:left;
  margin:0;
}

#edit-fname {
  width:200px;
}

#add-food-button,
#edit-meal-button,
#edit-meal-button-2,
#change-meal-weight-button {
  float: right;
}

#primary div.measure-image img {
  padding: 0;
  margin: 0;
}

#primary .singlepage #diet-edit-ingestion-meal-measures .measure-image a {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

